{% extends "base.html.twig" %}

{% block container %}
    <div id="folder-edit" data-url="{{ path('folder.get.ajax', {'folder-id': folder.id}) }}">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Etat du dossier</span>
                        <p>
                            <b>Status : </b><span id="folder-status"></span>
                        </p>
                        <p>
                            <b>Mise à jour : </b><span id="folder-updated-at"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Paramètrage</span>
                        <div class="input-field">
                            <input value="..." id="folder-name" type="text" class="validate folder-name-input" data-url="{{ path('folder.change-name-of-folder.ajax') }}">
                            <label class="active" for="folder-name">Nom du dossier</label>
                        </div>
                        <div class="input-field">
                            <input value="..." id="owner-email" type="text" class="validate owner-name-input">
                            <label class="active" for="owner-email">Gestionnaire</label>
                        </div>
                        <div class="input-field">
                            <input value="..." id="user-email" type="text" class="validate user-email-input">
                            <label class="active" for="user-email">Destinataire</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Documents à fournir</span>
                        <ul class="collection" id="folder-collection"
                            data-rename-document-url="{{ path('folder.change-name-of-document.ajax') }}"
                            data-remove-document-url="{{ path('folder.remove-document-from-folder.ajax') }}"
                            data-clear-document-url="{{ path('folder.clear-document.ajax') }}"
                            data-download-document-url="{{ path('folder.download-document.ajax') }}"
                            data-upload-document-url="{{ path('folder.upload-document.ajax') }}"
                        ></ul>
                        <button class="btn" data-folder-id="{{ folder.id }}" id="create-document-button" style="display: none;" data-url="{{ path('folder.create-document.ajax') }}">Ajouter un document</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-large" id="send-folder-button" data-url="{{ path('folder.send.ajax') }}" data-folder-id="{{ folder.id }}">Transmettre le dossier</button>
        <a href="{{ url('duplicateFolder', {'folder-id': folder.id}) }}" class="btn btn-large blue" id="duplicate-folder-button">Dupliquer le dossier</a>
        <a href="{{ url('removeFolder', {'folder-id': folder.id}) }}" class="btn btn-large red" id="remove-folder-button">Supprimer le dossier</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/folder-edition.js') }}"></script>
{% endblock %}
